.color {
    color: #006400
}

.newcolor {
    color: grey
}

.БЕЛЫЙ {
    color: white
}

.СИНИЙ {
    color: blue
}

.КРАСНЫЙ {
    color: red
}

.ЧЁРНЫЙ {
    color: black
}

.ФИОЛЕТОВЫЙ {
    color: purple
}